<div class="flex flex-col items-center justify-center w-full rounded-md overflow-hidden">
  <div class="w-full text-center bg:gray-200 dark:bg-gray-800 px-3 py-2 font-bold">{{graphData.title}}</div>
  <svg viewBox="-10 -10 190 120" class="w-full bg:gray-300 dark:bg-gray-700">
    <!--    Y Axis-->
    <line x1="0" y1="0" x2="00" y2="100" stroke="lime" class="stroke-gray-500"></line>
    <g transform="translate(0, 100) scale(1.428571428571429,-1)">
      <line x1="0" y1="0" x2="70" y2="0" stroke="lime" class="stroke-gray-500"></line>
      <line x1="04" y1="0" x2="04" y2="34" stroke="lime" stroke-width="5"></line>
      <line x1="14" y1="0" x2="14" y2="22" stroke="lime" stroke-width="5"></line>
      <line x1="24" y1="0" x2="24" y2="36" stroke="lime" stroke-width="5"></line>
      <line x1="34" y1="0" x2="34" y2="19" stroke="lime" stroke-width="5"></line>
      <line x1="44" y1="0" x2="44" y2="49" stroke="lime" stroke-width="5"></line>
      <line x1="54" y1="0" x2="54" y2="46" stroke="lime" stroke-width="5"></line>
      <line x1="64" y1="0" x2="64" y2="20" stroke="lime" stroke-width="5"></line>

      <line x1="04" y1="34" x2="04" y2="77" stroke="violet" stroke-width="5"></line>
      <line x1="14" y1="22" x2="14" y2="45" stroke="violet" stroke-width="5"></line>
      <line x1="24" y1="36" x2="24" y2="56" stroke="violet" stroke-width="5"></line>
      <line x1="34" y1="19" x2="34" y2="45" stroke="violet" stroke-width="5"></line>
      <line x1="44" y1="49" x2="44" y2="67" stroke="violet" stroke-width="5"></line>
      <line x1="54" y1="46" x2="54" y2="87" stroke="violet" stroke-width="5"></line>
      <line x1="64" y1="20" x2="64" y2="42" stroke="violet" stroke-width="5"></line>

      <line x1="04" y1="77" x2="04" y2="89" stroke="cyan" stroke-width="5"></line>
      <line x1="14" y1="45" x2="14" y2="67" stroke="cyan" stroke-width="5"></line>
      <line x1="24" y1="56" x2="24" y2="79" stroke="cyan" stroke-width="5"></line>
      <line x1="34" y1="45" x2="34" y2="67" stroke="cyan" stroke-width="5"></line>
      <line x1="44" y1="67" x2="44" y2="78" stroke="cyan" stroke-width="5"></line>
      <line x1="54" y1="87" x2="54" y2="100" stroke="cyan" stroke-width="5"></line>
      <line x1="64" y1="42" x2="64" y2="66" stroke="cyan" stroke-width="5"></line>
    </g>
    {{#each graphData.dataSeries}}
      <line x1="110" y1="{{@index}}0" x2="120" y2="{{@index}}0" stroke="{{this.color}}"  stroke-linejoin="round" transform="translate(0, 5)" />
      <text x="125" y="{{@index}}0" font-size="8px" transform="translate(0, 8)" class="fill-white">{{this.name}}</text>
    {{/each}}
  </svg>
</div>