<div class="flex flex-col justify-stretch gap-6">
  <div class="flex items-center justify-stretch gap-4 ">
    <h2 class="flex-none text-lg font-medium text-gray-800 dark:text-white">New Product</h2>
    <div class="ms-auto ">
      {{>paginate}}
    </div>
  </div>
  <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-2">
    {{#each walmartProducts}}
      <a class="relative p-2 overflow-hidden rounded-md flex flex-col gap-2 border-2 dark:border-gray-700 bg-gray-200 dark:bg-gray-800" href="/admin/products/new?walmartId={{walmartId}}">
        <img class="rounded-t-md object-cover aspect-square" alt="{{name}}" src="{{visuals.[0]}}?odnHeight=180&odnWidth=180&odnBg=ffffff"/>
        <span class="text-sm px-2 flex-1 line-clamp-2">{{name}}</span>
        <div class="flex items-center gap-x-2">
          <p class="px-2 py-1 text-xs text-slate-100 rounded-lg bg-orange-900">{{currency price}}</p>
          {{#each items}}
            <p class="px-2 py-1 text-xs border-[1px] rounded-lg border-gray-500 ">{{shelf.name}}</p>
          {{/each}}
        </div>
      </a>
    {{/each}}
  </div>
</div>