  <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
    {{#each products}}
      <div class="group relative">
        <img src="{{this.visuals.[0] }}" alt="{{this.name}}" class="aspect-square w-full rounded-md bg-gray-200 object-cover group-hover:opacity-75">
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a href="/p/{{this.id}}">
                <span aria-hidden="true" class="absolute inset-0"></span>
                {{this.name}}
              </a>
            </h3>
            {{product.variationLabel}}
            {{#if product.variationLabel}}
              <p class="mt-1 text-sm text-gray-500">{{product.variationLabel}}</p>
            {{/if}}
          </div>
          <p class="text-sm font-medium text-gray-900">$35</p>
        </div>
      </div>
    {{/each}}
  </div>