  <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6">
    {{#each products}}
      <div class="group relative">
        <img src="{{this.visuals.[0] }}?odnHeight=180&odnWidth=180&odnBg=ffffff" alt="{{this.name}}" class="aspect-square w-full rounded-md bg-gray-200 object-cover group-hover:opacity-75">
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="">
              <a href="/p/{{this.id}}">
                {{this.name}}
              </a>
            </h3>
            {{this.variationLabel}}
            {{#if this.variationLabel}}
              <p class="mt-1 text-sm text-gray-500">{{this.variationLabel}}</p>
            {{/if}}
          </div>
          <p class="text-sm font-medium text-gray-900">{{currency this.price }}</p>
        </div>
      </div>
    {{/each}}
  </div>