<div class="relative w-full">
  <label class="absolute -top-3 left-2 p-1 bg-gray-100 dark:bg-gray-900 rounded-sm text-xs " for="input{{name}}">{{label}}:</label>
  <input id="input{{name}}" type="text" placeholder="{{label}}" name="{{name}}" value="{{value}}" {{#if pattern}} pattern="{{pattern}}" {{/if}} {{#if required}}required{{/if}}
         class="w-full p-2 text-gray-700 bg-white border rounded-md dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring invalid:border-red-500"/>
</div>