<div class="flex flex-col justify-stretch gap-6">
  <h2 class="flex-none text-lg font-medium text-gray-800 dark:text-white">New Product</h2>
  <form action="/admin/walmart-lookup" method="get" class="flex items-center justify-stretch gap-4 ">
    {{>input-text label="Search Walmart" required=false value="" name="q"}}
  </form>
  <form action="" method="post" class="flex flex-wrap gap-4">
    {{#if walmartProduct.variants.length}}
      <div class="relative w-full">
        <label class="absolute -top-3 left-2 p-1 bg-gray-100 dark:bg-gray-900 rounded-sm text-xs " for="selectVariant">Select a Variant:</label>
        <select id="selectVariant" onchange="location.href='/admin/products/create?walmartId='+this.value"
                class="h-full w-full p-2 text-gray-700 bg-white border rounded-md dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring invalid:border-red-500">
          {{# each walmartProduct.variants}}
            <option {{#if this.selected}} selected {{/if}} value="{{this.id}}" title="{{this.title}}">{{this.name}}</option>
          {{/each}}
        </select>
      </div>
    {{/if}}
    {{>input-text label="Name" required=true pattern="^.{3,99}$" value=walmartProduct.name name="name"}}
    {{>input-text label="Variation Label" required=false value=walmartProduct.variationLabel name="variationLabel"}}
    {{>input-number label="Price" required=true value=walmartProduct.suggestedPrice name="price"}}
    {{>select label="Category" options=categories name="categoryId" }}
    {{>input-textarea label="Description" value=walmartProduct.description name="description"}}
    <input type="hidden" name="upc" value="{{walmartProduct.upc}}"/>
    <input type="hidden" name="walmartId" value="{{walmartProduct.walmartId}}"/>
    <div class="grid gap-2 grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 2xl:grid-cols-7">
      {{#each walmartProduct.visuals}}
        <label class="relative">
          <img src="{{this}}?odnHeight=200&odnWidth=200&odnBg=ffffff" alt="Product Image" class="aspect-square rounded-md"/>
          <input type="checkbox" value="{{this}}" name="visuals[]" class="absolute top-2 right-2"/>
        </label>
      {{/each}}
    </div>
    <label
      class="w-full rounded-md flex p-2 items-center justify-center text-gray-700 bg-white border dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="w-10 h-10" fill="currentColor">
        <path
          d="M440-440ZM120-120q-33 0-56.5-23.5T40-200v-480q0-33 23.5-56.5T120-760h126l74-80h240v80H355l-73 80H120v480h640v-360h80v360q0 33-23.5 56.5T760-120H120Zm640-560v-80h-80v-80h80v-80h80v80h80v80h-80v80h-80ZM440-260q75 0 127.5-52.5T620-440q0-75-52.5-127.5T440-620q-75 0-127.5 52.5T260-440q0 75 52.5 127.5T440-260Zm0-80q-42 0-71-29t-29-71q0-42 29-71t71-29q42 0 71 29t29 71q0 42-29 71t-71 29Z"/>
      </svg>
      <input type="file" class="hidden" accept="image/*"/>
    </label>
    {{> button-submit label="Save"}}
  </form>
</div>
